body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
}

.header {
  background-image: url("../images/sabrinaprinz.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 100%;
  background-position: center center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 100px;
  line-height: 130px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}
