body {
  padding: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

/*Sprechblase gelb Pfeil nach unten*/
.bubble
{
position: relative;
width: auto;
height: 800px;
background: #ffffaa;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 40px 65px 0;
border-color: #ffffaa transparent;
display: block;
z-index: 1;
bottom: -40px;
left: 46%;
}

/*Sprechblase gelb Pfeil nach oben*/
.bubbletop1 {
  position: relative;
  width: auto;
  height: 450px;
  background: #ffffaa;
}

.bubbletop1:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: #ffffaa transparent;
  display: block;
  z-index: 1;
  top: -40px;
  left: 46%;
}

/*Headline in Sprechblase rechts*/
.headerright {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 80px;
  line-height: 30px;
  text-align: left;
  padding-top: 80px;
  float: right;
  width: 51%;
}

/*Fließtext in Sprechblase links*/
.left {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 10px;
  text-align: right;
  padding-top: 470px;
  float: left;
  width: 46%;
}

/*ideen grafikdesign fotografie*/
#container {
	width: 100%;
	height: auto;
	background: white;
	display: -webkit-flex;
	display: flex;
}

#box1 {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

#box2 {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

#box3 {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

/*Schrift ideen grafikdesign fotografie*/
h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  width: 100%;
}

.p1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 80px;
}

/*Schrift Über mich, work und kontakt*/
#containerfond {
	width: 100%;
	height: auto;
	background: #ffffaa;
	display: -webkit-flex;
	display: flex;
}

/*Headline in Sprechblase links*/
.headerleft {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 80px;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
  padding-top: 50px;
}

/*Fließtext in Sprechblase rechts*/
.right {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 10px;
  text-align: left;
  padding-left: 20px;
  padding-top: 170px;
}

/*Feld Arbeiten UNBEDINGT FARBE ANPASSEN*/
#containerwork {
	width: 100%;
	height: auto;
	background: #ffffaa;
	display: -webkit-flex;
	display: flex;
}

#box {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

/*Ende gelber Hintergrund*/
.end {
  width: 100%;
  height: 300px;
  background: #ffffaa;
}

/*Sprechblase gelb Pfeil nach oben*/
.bubbletop2 {
  position: relative;
  width: auto;
  height: 1500px;
  background: #ffffaa;
}

.bubbletop2:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: #ffffaa transparent;
  display: block;
  z-index: 1;
  top: -40px;
  left: 46%;
}

/*Mailadresse*/
.middle {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Rahmen Mailadresse*/
.mail {
  width: 25%;
  height: auto;
  background: transparent;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 4px;
  border-style: solid;
}
