body {
  padding: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

h1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 8vw;
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 2vw;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 10%;
}

/*Sprechblase Pfeil nach oben*/
.bubbletop1 {
  position: relative;
  width: auto;
  height: auto;
  background: rgb(248, 248, 248);
}

.bubbletop1:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: rgb(248, 248, 248) transparent;
  z-index: 1;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}

.pfeil {
  width: auto;
  height: 3%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .pfeil { height: 5%;; }
}

@media only screen and (min-width:1025px) {
      .pfeil { height: 7%;; }
}

.pfeil:hover {
  opacity: 0.3;
}

.bubbletop3 {
  position: relative;
  width: auto;
  height: 7%;
  background: rgb(35, 35, 35);
}

.bubbletop3:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: rgb(35, 35, 35) transparent;
  z-index: 1;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}

/*Bilder Projekte*/
.image1 {
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}

.image2 {
  display: block;
  margin: 0 auto;
  padding-top: 5%;
}

.image3 {
  display: block;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

/*Feld Arbeiten "responsive*/
.flex-grid {
	display: flex;
	flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
  background: rgb(248, 248, 248);
  padding-bottom: 10%;
}

.flex-grid-item {
	height: auto;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-bottom: 5%;
}

.blank {
	height: 0;
}
