@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:300');

body {
  padding: 0;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

/*Nach unten scrollen*/
#unten {
  z-index: 1;
  position: relative;
}

#oben {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -3%;
  margin-top: -10%;
}

.pfeil:hover {
  opacity: 0.5;
}

/*Sprechblase Pfeil nach unten*/
.bubble {
  position: relative;
  width: auto;
  height: auto;
  background: rgb(248, 248, 248);
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 40px 65px 0;
  border-color: rgb(248, 248, 248) transparent;
  z-index: 1;
  bottom: -40px;
  left: 50%;
  margin-left: -65px;
}

/*Sprechblase Pfeil nach oben*/
.bubbletop1 {
  position: relative;
  width: auto;
  height: auto;
  background: rgb(248, 248, 248);
}

.bubbletop1:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: rgb(248, 248, 248) transparent;
  z-index: 1;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}

/*Feld hi i'm Sabrina*/
#containerme {
	width: auto;
	height: auto;
	background: rgb(248, 248, 248);
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}

#box {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

/*Fließtext in Sprechblase links*/
.containerleft {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 3vw;
  line-height: 130%;
  text-align: right;
  margin-left: 20%;
  margin-right: 3%;
  margin-top: 58%;
  margin-bottom: 20%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .containerleft { font-size: 2.3vw; margin-left: 20%; }
}

@media only screen and (min-width:1025px) {
      .containerleft { font-size: 1.8vw; margin-left: 30%;  }
}

/*Headline in Sprechblase rechts*/
.containerheaderright {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 5vw;
  line-height: 175%;
  text-align: left;
  margin-right: 30%;
  margin-left: 3%;
  margin-top: 20%;
}

/*ideen grafikdesign fotografie*/
#container {
	width: 100%;
	height: auto;
	background: white;
	display: -webkit-flex;
	display: flex;
}

#box {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

@media screen and (max-width: 760px) {
  #container {
    flex-direction: column;
  }
}

/*Schrift ideen grafikdesign fotografie "responsive"*/
h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 3vw;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      h2 { font-size: 2.3vw; }
}

@media only screen and (min-width:1025px) {
      h2 { font-size: 1.8vw; }
}

.p1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 1.5vw;
  text-align: center;
  padding-left: 25%;
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (max-width: 760px) {
  .p1 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.8vw;
    padding-bottom: 0;
  }
}

.p2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 1.5vw;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (max-width: 760px) {
  .p2 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.8vw;
    padding-bottom: 0;
    padding-top: 50px;
  }
}

.p3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 1.5vw;
  text-align: center;
  padding-right: 25%;
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (max-width: 760px) {
  .p3 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.8vw;
    padding-bottom: 80px;
    padding-top: 50px;
  }
}

/*Feld "work"*/
#containerwork {
	width: auto;
	height: auto;
	background: rgb(248, 248, 248);
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}

#box {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

/*Fließtext in Sprechblase rechts*/
.containerright {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 2.2vw;
  line-height: 130%;
  text-align: left;
  margin-left: 3%;
  margin-right: 30%;
  margin-top: 28%;
  margin-bottom: 20%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .containerright { font-size: 2vw }
}

@media only screen and (min-width:1025px) {
      .containerright { font-size: 1.8vw }
}

/*Headline in Sprechblase links*/
.containerheaderleft {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 5vw;
  line-height: 175%;
  text-align: right;
  margin-right: 3%;
  margin-left: 30%;
  margin-top: 20%;
}

/*Feld Arbeiten "responsive*/
.flex-grid {
	display: flex;
	flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  background: rgb(248, 248, 248);
}

.flex-grid-item {
	height: auto;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 33.3333%;
	flex-basis: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blank {
	height: 0;
}

/*Image Overlay Hover*/
.flex-grid-item {
  position: relative;
  transition: .3s ease;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: .3s ease;
}

.flex-grid-item:hover {
  opacity: 0.5;
}

.flex-grid-item:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-family: montserrat;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  width: auto;
}

/*Ende gelber Hintergrund*/
.end {
  width: 100%;
  height: 300px;
  background: rgb(248, 248, 248);
}

/*Sprechblase Pfeil nach oben "contact"*/
.bubbletop2 {
  position: relative;
  width: auto;
  height: auto;
  background: rgb(248, 248, 248);
}

.bubbletop2:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: rgb(248, 248, 248) transparent;
  z-index: 1;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}

/*Feld "contact"*/
#containercontact {
	width: auto;
	height: auto;
	background: rgb(248, 248, 248);
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}

#box {
	-webkit-flex: 1;
	flex: 1;
	flex-direction: row;
}

/*Fließtext in Sprechblase links*/
.containerleft1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 2.2vw;
  line-height: 130%;
  text-align: right;
  margin-left: 30%;
  margin-right: 3%;
  margin-top: 25%;
  margin-bottom: 15%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .containerleft1 { font-size: 2vw }
}

@media only screen and (min-width:1025px) {
      .containerleft1 { font-size: 1.8vw }
}

/*Headline in Sprechblase rechts*/
.containerheaderright1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-size: 5vw;
  line-height: 175%;
  text-align: left;
  margin-right: 30%;
  margin-left: 3%;
  margin-top: 15%;
}

/*Mailadresse "responsive"*/
.middle {
  color: rgba(0, 0, 0, 0.8);
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  font-size: 2.2vw;
  text-align: center;
  padding: 1%;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .middle { font-size: 2vw }
}

@media only screen and (min-width:1025px) {
      .middle { font-size: 1.8vw }
}

/*Rahmen Mailadresse "responsive"*/
.mail {
  position: absolute;
  width: 200px;
  height: auto;
  background: transparent;
  margin-bottom: 10%;
  left: 50%;
  margin-left: -100px;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 2px;
  border-style: solid;
}

@media only screen and (min-width:720px) and (max-width:1024px) {
      .mail { border-width: 2.5px; width: 250px; margin-left: -125px; }
}

@media only screen and (min-width:1025px) {
      .mail { border-width: 4px; width: 350px; margin-left: -175px; }
}

.mail:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: transparent;
}

.middle:hover {
  color: rgb(248, 248, 248)
}

.underline:link {
  text-decoration: none;
}

/*Feld Icon Instagram "responsive"*/
.logo {
  position: relative;
  left: 50%;
  margin-left: -20px;
  width: auto;
  height: 40px;
  margin-top: 10%;

}

@media screen and (max-width: 760px) {
  .logo {
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: 13%;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 30px;
    left: 50%;
    margin-left: -15px;
  }
}

.logo:hover {
  opacity: 0.3;
}

/*Nach oben scrollen*/
.pfeiltostart {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -10%;
}

@media screen and (max-width: 760px) {
  .pfeiltostart {
    width: 30px;
    left: 50%;
    margin-left: -15px;
    bottom: -14%;
  }
}

@media screen and (max-width: 1024px) {
  .pfeiltostart {
    width: 28px;
    left: 50%;
    margin-left: -14px;
    bottom: -11%;
  }
}

.pfeiltostart:hover {
  opacity: 0.3;
}

/*Ende Hintergrund Kontakt*/
.endcontact {
  width: auto;
  height: 15%;
  background: rgb(248, 248, 248);
}

@media screen and (max-width: 760px) {
  .endcontact {
    height: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .endcontact{
    height: 13%;
  }
}

/*Sprechblase Pfeil nach oben*/
.bubbletop3 {
  position: relative;
  width: auto;
  height: 7%;
  background: rgb(35, 35, 35);
}

.bubbletop3:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 65px 40px;
  border-color: rgb(35, 35, 35) transparent;
  z-index: 1;
  top: -40px;
  left: 50%;
  margin-left: -65px;
}
